@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Hello</h1>
    <h1>Today is: @ViewData["Date"]</h1>
    <h2>@ViewData["Message"]</h2>
</div>
